.night-mode {
    background: #181818 !important;
    color: #eee !important;
}

.night-mode #top,
.night-mode #left,
.night-mode #menu {
    background: #000 !important;
}

.night-mode .item,
.night-mode .item-catagory {
    background: transparent !important;
    color: #eee !important;
}

.night-mode .item:hover {
    background: #333 !important;
}

.night-mode .line {
    background: #333 !important;
}

/* .night-mode #topics {
    background: #181818 !important;
} */

.night-mode #topics button,
.night-mode #search i,
.night-mode #add {
    background: #333 !important;
    color: #eee !important;
}

.night-mode #topics button:hover {
    background: #444 !important;
    transition: 0.5s;
}